
{% extends 'base.html' %}

{% block title %}Comment{% endblock %}

{% block content %}
    <h1>Commentaires</h1>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ gossip.title }}</h5>
                        <p>
                            <span style="color: gray; font-size: 14px">
                                Publié par 
                            </span>
                            <span style="font-weight: bold; font-size: 15px">
                                {{gossip.user}}
                            </span>
                        </p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ gossip.content }}</p>
                        <hr>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input id="content" name="content" type="text" class="form-control" placeholder="Votre commentaire">
                            </div>
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'home' %}" class="btn btn-secondary">Retour</a>
                                <button type="submit" class="btn btn-primary">Commenter</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
                <br>
                <h4>Commentaires</h4>
                <div class="card">
                    <div class="card-body">
                        {% for comment in comments %}
                            <span style="font-size: 16px; font-weight: bolder;">{{comment.user}}</span>
                            <p class="card-text" style="color: gray">{{ comment.content }}</p>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
{% endblock %}
    